<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGEFuncs</title>
    <script src="../vue.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div id="p">
        <table border>
            <tr><th>ID</th><th>10進数</th><th>16進数</th>
                <th v-for="i in loop">{{i}}b</th>
            </tr>
            <tr v-for="(func,i) in funcs">
                <td>{{func.name}}</td>
                <td>{{i}}</td>
                <td>{{func.id}}</td>
                <td v-for="m in func.memory">{{m}}</td>
                <td v-for="e in func.emp"></td>
            </tr>
        </table>
    </div>
    <h2>仕様</h2>
<pre>
メモリは1b x [0xffff]なかんじ
0xffff - 64KiB 65536b
0x1000 -  4KiB 4096b
ROMとRAMとSRAMほしい

0x0000 ~ 0x9fff(ROM) - 10
0xa000 ~ 0xdfff(RAM) - 4
0xe000 ~ 0xefff(GRAM)- 1
0xf000 ~ 0xffff(SRAM)- 1

GRAM - 画像
バイト連続
00000000
↑↑↑↑
↑↑↑B
↑↑G
↑R
Flag
00:描画
01:透過
10:改行
11:終了
</pre>
</body>
</html>