<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGEFuncs</title>
    <script src="../vue.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div id="p">
        <table border>
            <tr><th>ID</th><th>10進数</th><th>16進数</th>
                <th v-for="i in loop">{{i}}b</th>
            </tr>
            <tr v-for="(func,i) in funcs">
                <td>{{func.name}}</td>
                <td>{{i}}</td>
                <td>{{func.id}}</td>
                <td v-for="m in func.memory">{{m}}</td>
                <td v-for="e in func.emp"></td>
            </tr>
        </table>
    </div>
    <h2>仕様</h2>
<pre>
メモリはUCHAR[0xffff]なかんじ
0xffff - 64KiB 65536b
0x1000 -  4KiB 4096b
ROMとRAMとSRAMほしい

0xa000(ROM) - 40KiB 40960b
0x6000(RAM) - 24KiB 24576b
</pre>
</body>
</html>