<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGEFuncs</title>
    <script src="../vue.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div id="p">
        <table border>
            <tr><th>ID</th><th>10進数</th><th>16進数</th>
                <th v-for="i in loop">{{i}}b</th>
            </tr>
            <tr v-for="(func,i) in funcs">
                <td>{{func.name}}</td>
                <td>{{i}}</td>
                <td>{{func.id}}</td>
                <td v-for="m in func.memory">{{m}}</td>
                <td v-for="e in func.emp"></td>
            </tr>
        </table>
    </div>
    <h2>メモリ仕様</h2>
<pre>
メモリは1b x [0xffff]なかんじ
0xffff - 64KiB 65536b
0x1000 -  4KiB 4096b

0x0000 ~ 0x9fff(ROM) - 10
0xa000 ~ 0xefff(RAM) - 5
0xf000 ~ 0xffff(IOM)  - 1
</pre>
    <h2>IO仕様</h2>
<pre>
io命令時にIOMから色々

0 - グラフィックを反映
1 - サウンドデータを反映
2 - セーブデータをロード
3 - セーブデータをセーブ
</pre>
    <h2>画像仕様</h2>
<pre>
バイト連続
00000000
↑↑↑↑
↑↑↑B
↑↑G
↑R
Flag
00:描画
01:透過
10:改行
11:終了
</pre>
    <h2>音声仕様</h2>
<pre>
周波数＋長さ
00-00
FF-FFは終了フラグ
</pre>
</body>
</html>