<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGE</title>
    <script src="../vue.js"></script>
    <script src="libkey.min.js"></script>
    <script src="engine.js"></script>
    <script src="list.js"></script>
    <style>
        input{
            width:40px;
        }
        *[type=text]{
            width:150px;
        }
        pre{
            border:1px #fff solid;
            cursor:default;
            user-select: none;
            color:#fff;
        }
        td{
            color:#fff
        }
    </style>
</head>
<body style="background:#000">
    <div id="app">
        <button @click="game">Start</button>
        <pre id="game"></pre>
        <button @click="s = !s">hide/show</button>
        <table v-if="s">
            <tr><th>ADDR</th><th>DATA</th></tr>
            <tr v-for="(d,i) in p">
                <td>{{i}}</td>
                <td><input type="number" v-model="p[i]" min="0" max="255"></td>
                <td><button @click="p.splice(i,1)&&d.splice(i,1)">X</button></td>
            </tr>
        </table>
    </div>
</body>
</html>