.editor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding:10px;
    .graph{
        border:1px black solid;
        .pixel{
            &:hover{
                border:1px white solid;
                border-color: white black;
                z-index:99999;
            }
        }
    }
}